<div align="center">
    <div class="col-lg-8">
        <mat-card>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src='{{ headline?.teamLogo }}' >
                <mat-card-title> {{ headline?.name }} </mat-card-title>
                <mat-card-subtitle> {{ headline?.position }} </mat-card-subtitle>
                <mat-card-subtitle> {{ headline?.age }} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Legutóbbi meccsek">
                <app-playermatch></app-playermatch>
            </mat-tab>
            <mat-tab label="Karrier">
                <app-playercareer></app-playercareer>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>