body {
    background-color: whitesmoke;
}

mat-grid-tile {
    background: lightblue;
}
  
.example-header-image {
    background-size: cover;
}

mat-tab-group {
    height: auto;
    max-height: 500px;
}

mat-card-header {
    text-align: start;
}