app-home {
  overflow-x: hidden;
}

mat-card {
  background-color: whitesmoke;
  text-align: center;
}

mat-card-content {
  text-align: end;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

.app{
  overflow-y: hidden;
  overflow-x: hidden;
}

table {
  width: 100%;
}