<div *ngIf="isLoading === true"
  style="display: flex; justify-content: center; align-items: center; background: whitesmoke;">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="isLoading === false">

  <mat-card>
    <mat-card-title>
      <span> {{ title }}</span>
    </mat-card-title>
  </mat-card>

  <div *ngIf="form === false" class="row" style="background-color: whitesmoke; margin: 2%;">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Státusz </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="homeTeam">
        <th mat-header-cell *matHeaderCellDef> Hazai csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
      </ng-container>

      <ng-container matColumnDef="fulltime">
        <th mat-header-cell *matHeaderCellDef> Végeredmény </th>
        <td mat-cell *matCellDef="let element"> {{element.fulltime}} </td>
      </ng-container>

      <ng-container matColumnDef="awayTeam">
        <th mat-header-cell *matHeaderCellDef> Vendég csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
      </ng-container>

      <ng-container matColumnDef="halftime">
        <th mat-header-cell *matHeaderCellDef> Félidő </th>
        <td mat-cell *matCellDef="let element"> {{element.halftime}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Információ </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above" (click)="onDetailsClick(element)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="row" style="margin: 1%;">
      <div class="col-lg-4">
        <button color="primary" mat-raised-button (click)=back()>Vissza</button>
      </div>
      <div class="col-lg-6">
        <button color="accent" mat-raised-button (click)=leagueInfo()>Bajnokság információk</button>
      </div>
    </div>


  </div>

  <div *ngIf="form === true">

    <div align="center" style="margin: 2%;">

      <form class="simulation-form" [formGroup]="simulationFormGroup">
        <div class="simulation-container">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Szezon</mat-label>
              <mat-select formControlName="seasonId">
                <mat-option value="" disabled>Kérem válasszon</mat-option>
                <mat-option *ngFor="let season of seasons" [value]="season.id">
                  {{ season.text }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Bajnokság</mat-label>
              <mat-select formControlName="leagueId" required>
                <mat-option value="" disabled>Kérem válasszon</mat-option>
                <mat-option *ngFor="let league of leagues" [value]="league.id">
                  {{ league.text }}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Forduló</mat-label>
              <mat-select formControlName="roundId">
                <mat-option value="" disabled>Kérem válasszon</mat-option>
                <mat-option *ngFor="let round of rounds" [value]="round.id">
                  {{round.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button [disabled]="!simulationFormGroup.valid" color="primary" mat-raised-button
          (click)="createSimulation()">Szimuláció</button>
      </form>

    </div>

    <div align="right">
        <img src="assets/ball.png" width="300" height="300">
    </div>

  </div>

</div>