<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="season">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Szezon </th>
        <td mat-cell *matCellDef="let element"> {{element.season}} </td>
    </ng-container>

    <ng-container matColumnDef="league">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Liga </th>
        <td mat-cell *matCellDef="let element"> {{element.league}} </td>
    </ng-container>

    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
    </ng-container>

    <ng-container matColumnDef="apps">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Meccsek száma </th>
        <td mat-cell *matCellDef="let element"> {{element.apps}} </td>
    </ng-container>

    <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Gól </th>
        <td mat-cell *matCellDef="let element"> {{element.goal}} </td>
    </ng-container>

    <ng-container matColumnDef="yellowCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sárga lap </th>
        <td mat-cell *matCellDef="let element"> {{element.yellowCard}} </td>
    </ng-container>

    <ng-container matColumnDef="redCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Piros lap </th>
        <td mat-cell *matCellDef="let element"> {{element.redCard}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>