<mat-card>
  <mat-card-title>
    <span>
      {{ title }}
    </span>
  </mat-card-title>
</mat-card>

<div class="row">
  <div class="col-lg-6">
    <app-standings></app-standings>
  </div>
  <div class="col-lg-6">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Góllövő lista">
        <app-goalscorerlist></app-goalscorerlist>
      </mat-tab>
      <mat-tab label="Sárga lap">
        <app-yellowcard></app-yellowcard>
      </mat-tab>
      <mat-tab label="Piros lap">
        <app-redcard></app-redcard>
      </mat-tab>
    </mat-tab-group>
    <mat-card>Legutóbbi eredmények</mat-card>
    <app-round></app-round>
  </div>
</div>