mat-card {
    text-align: center;
    background-color: whitesmoke;
    overflow: visible;
}

mat-grid-tile {
    background-color: whitesmoke;
    justify-content: flex-start;
    align-items: flex-start;
}

.app {
    overflow-y: hidden;
}
  