<div class="grid-container" align="center">
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="team-card">
                <mat-card-header>
                    <img mat-card-avatar class="home-header-image" src='{{ headline?.homeLogo }}'>
                    <mat-card-title align="center"> {{ headline?.home }} </mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" rowheight="10px">
            <mat-card class="result-card">
                <mat-card-header>
                    <mat-card-title> {{ result }} </mat-card-title>
                    <mat-card-subtitle> {{ time }} </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="team-card">
                <mat-card-header>
                    <mat-card-title> {{ headline?.away }} </mat-card-title>
                    <img mat-card-avatar class="away-header-image" src='{{ headline?.awayLogo }}'>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div align="center">
    <mat-tab-group>
        <mat-tab label="Összeállítások">
            <app-matchlineup></app-matchlineup>
        </mat-tab>
        <mat-tab label="Kommentár">
            <div class="container">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="minute">
                            <th mat-header-cell *matHeaderCellDef> Perc </th>
                            <td mat-cell *matCellDef="let element"> {{ element.minute }} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Leírás </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Statisztika">

            <table mat-table id="statistics" [dataSource]="statistics" class="mat-elevation-z8"
                style="text-align: center;">
                <ng-container matColumnDef="homeTeam">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hazai csapat </th>
                    <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="awayTeam">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Vendég csapat </th>
                    <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="statisticsHeadline"></tr>
                <tr mat-row *matRowDef="let row; columns: statisticsHeadline;"></tr>
            </table>

        </mat-tab>
        <mat-tab label="A mérközés összegzése">

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. félidő
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let home of home1" [value]="home" (click)="onDetailsClick(home)">
                                {{ home.description }}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let away of away1" [value]="away" (click)="onDetailsClick(away)">
                                {{ away.description }}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2.félidő
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option *ngFor="let home of home2" [value]="home"
                                    (click)="onDetailsClick(home)">
                                    {{ home.description }}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option *ngFor="let away of away2" [value]="away"
                                    (click)="onDetailsClick(away)">
                                    {{ away.description }}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>