body {
  overflow-x: auto;
}

.grid-container {
  background-color: whitesmoke;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  width: 900px;
}

mat-card {
  width: 900px;
}

mat-grid-list {
  width: 900px;
}

mat-tab-group {
  width: 900px;
}

table {
  width: 100%;
  text-align: left;
}

.result-card {
  max-width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-card {
  max-width: 300px;
}
  
.home-header-image {
  background-size: cover;
}

.away-header-image {
  background-size: cover;
}

