<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="yerseyNumber">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mez </th>
        <td mat-cell *matCellDef="let element"> {{element.yerseyNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Játékos </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Kor </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="apps">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Mérközések száma </th>
        <td mat-cell *matCellDef="let element"> {{element.apps}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Pozíció </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Gól </th>
        <td mat-cell *matCellDef="let element"> {{element.goal}} </td>
    </ng-container>

    <ng-container matColumnDef="yellowCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sárga lap </th>
        <td mat-cell *matCellDef="let element"> {{element.yellowCard}} </td>
    </ng-container>

    <ng-container matColumnDef="redCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Piros lap </th>
        <td mat-cell *matCellDef="let element"> {{element.redCard}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Információ </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above" (click)="onDetailsClick(element)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

