<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="league">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Bajnokság </th>
        <td mat-cell *matCellDef="let element"> {{element.league}} </td>
    </ng-container>

    <ng-container matColumnDef="gameWeek">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Forduló </th>
        <td mat-cell *matCellDef="let element"> {{element.gameWeek}} </td>
    </ng-container>

    <ng-container matColumnDef="playedMinutes">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Játszott idő </th>
        <td mat-cell *matCellDef="let element"> {{element.playedMinutes}} </td>
    </ng-container>

    <ng-container matColumnDef="homeTeam">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hazai csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="fulltime">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Végeredmény </th>
        <td mat-cell *matCellDef="let element"> {{element.fulltime}} </td>
    </ng-container>

    <ng-container matColumnDef="awayTeam">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Vendég csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Gól </th>
        <td mat-cell *matCellDef="let element"> {{element.goal}} </td>
    </ng-container>

    <ng-container matColumnDef="yellowCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Sárga lap </th>
        <td mat-cell *matCellDef="let element"> {{element.yellowCard}} </td>
    </ng-container>

    <ng-container matColumnDef="redCard">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Piros lap </th>
        <td mat-cell *matCellDef="let element"> {{element.redCard}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>