<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="homeTeam">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hazai csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
      </ng-container>

      <ng-container matColumnDef="fulltime">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Végeredmény </th>
        <td mat-cell *matCellDef="let element"> {{element.fulltime}} </td>
      </ng-container>

      <ng-container matColumnDef="awayTeam">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Vendég csapat </th>
        <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Információ </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above" (click)="onDetailsClick(element)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>
  </div>
</div>