<div align="center">
    <div class="col-lg-10">
        <mat-card>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src='{{ headline?.logo }}'>
                <mat-card-title> {{ headline?.title }} </mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Eredmények">
                <app-teammatch></app-teammatch>
            </mat-tab>
            <mat-tab label="Átigazolás">
                <app-teamtransfer></app-teamtransfer>
            </mat-tab>
            <mat-tab label="Csapat">
                <app-teamplayer></app-teamplayer>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>