body {
    background-color: whitesmoke;
}

mat-grid-tile {
    background: lightblue;
}
  
.example-header-image {
    background-size: cover;
}

mat-tab-group {
    height: auto;
    max-height: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
  }