<canvas #canvas width="800" height="500"></canvas>
<mat-card>Felállás</mat-card>
<mat-grid-list cols="2" rowHeight="30px">
    <mat-grid-tile> {{homeFormation}} </mat-grid-tile>
    <mat-grid-tile> {{awayFormation}} </mat-grid-tile>
</mat-grid-list>
<mat-card>Kezdőcsapatok</mat-card>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let player of home11" [value]="player" (click)="onDetailsClick(player)">
                <h4 mat-line>{{player.name}}</h4>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let player of away11" [value]="player" (click)="onDetailsClick(player)">
                <h4 mat-line>{{player.name}}</h4>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </mat-grid-tile>
</mat-grid-list>
<mat-card>Csere játékosok</mat-card>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-list>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let player of homesub" [value]="player" (click)="onDetailsClick(player)">
                    <h4 mat-line>{{player.name}}</h4>
                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-selection-list [multiple]="false">
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let player of awaysub" [value]="player" (click)="onDetailsClick(player)">
                    <h4 mat-line>{{player.name}}</h4>
                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </mat-selection-list>
    </mat-grid-tile>
</mat-grid-list>