<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="playerName">
        <th mat-header-cell *matHeaderCellDef> Játékos </th>
        <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
      </ng-container>

      <ng-container matColumnDef="redCard">
        <th mat-header-cell *matHeaderCellDef> Piros lap </th>
        <td mat-cell *matCellDef="let element"> {{element.redCard}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Információ </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above" (click)="onDetailsClick(element)">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidePageSize]="true"></mat-paginator>
  </div>

</div>