<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Játékos </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Honnan? </th>
        <td mat-cell *matCellDef="let element"> {{element.from}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hová? </th>
        <td mat-cell *matCellDef="let element"> {{element.to}} </td>
    </ng-container>

    <ng-container matColumnDef="movement">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Típus </th>
        <td mat-cell *matCellDef="let element"> {{element.movement}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>