<mat-card>

    <mat-card-title align="center">Játékos módosítása</mat-card-title>

    <form class="player-create-form" [formGroup]="playerFormGroup" align="center">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Név</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="playerFormGroup.controls['name'].invalid">
                    {{ getError('name') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Becenév</mat-label>
                <input matInput formControlName="nickName">
                <mat-error *ngIf="playerFormGroup.controls['nickName'].invalid">
                    {{ getError('nickName') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Csapat</mat-label>
                <mat-select formControlName="team">
                    <mat-option value="" disabled>Kérem válasszon</mat-option>
                    <mat-option *ngFor="let team of teams" [value]="team.teamId">
                        {{ team.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="playerFormGroup.controls['team'].invalid">
                    {{ getError('team') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Kor</mat-label>
                <input matInput formControlName="age">
                <mat-error *ngIf="playerFormGroup.controls['age'].invalid">
                    {{ getError('age') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Születésnap</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf="playerFormGroup.controls['birthday'].invalid">
                    {{ getError('birthday') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nemzetiség</mat-label>
                <input matInput formControlName="nationality">
                <mat-error *ngIf="playerFormGroup.controls['nationality'].invalid">
                    {{ getError('nationality') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Piaci érték</mat-label>
                <input matInput formControlName="marketValue">
                <mat-error *ngIf="playerFormGroup.controls['marketValue'].invalid">
                    {{ getError('marketValue') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Pozíció</mat-label>
                <mat-select formControlName="teamPosition">
                    <mat-option value="" disabled>Kérem válasszon</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position.name">
                        {{ position.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="playerFormGroup.controls['teamPosition'].invalid">
                    {{ getError('teamPosition') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Mez szám</mat-label>
                <input matInput formControlName="teamYerseyNumber">
                <mat-error *ngIf="playerFormGroup.controls['teamYerseyNumber'].invalid">
                    {{ getError('teamYerseyNumber') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button routerLink="/settings/player" mat-raised-button matDialogClose>Vissza</button>
            <button color="primary" [disabled]="!playerFormGroup.valid" (click)="edit()" mat-raised-button
                matDialogClose>Módosítás</button>
        </div>
    </form>

</mat-card>