<body>

  <mat-toolbar color="primary" class="example-toolbar" style="width: 200%;">


    <button mat-button [matMenuTriggerFor]="languages">
      <mat-icon mat-list-icon>sports_soccer</mat-icon>
    </button>

    <!--First level Menu-->
    <mat-menu #languages="matMenu">
      <a mat-menu-item routerLink="/home/simulation" mat-menu-item>Szimuláció</a>
      <a mat-menu-item [matMenuTriggerFor]="settings">Beállítások</a>
    </mat-menu>

    <!--Second level Menu-->

    <mat-menu #settings="matMenu">
      <a mat-menu-item routerLink="/settings/team">Csapat</a>
      <a mat-menu-item routerLink="/settings/player">Játékos</a>
    </mat-menu>

  </mat-toolbar>

  <div id="app" class="app" style="height: 500px;">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</body>