<mat-card>

    <mat-card-title align="center">Csapat módosítása</mat-card-title>

    <form class="team-create-form" [formGroup]="teamFormGroup" align="center">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Név</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="teamFormGroup.controls['name'].invalid">
                    {{ getError('name') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Becenév</mat-label>
                <input matInput formControlName="nickName">
                <mat-error *ngIf="teamFormGroup.controls['nickName'].invalid">
                    {{ getError('nickName') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Stadion</mat-label>
                <input matInput formControlName="stadion">
                <mat-error *ngIf="teamFormGroup.controls['stadion'].invalid">
                    {{ getError('stadion') }}
                </mat-error>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Formáció</mat-label>
                <mat-select formControlName="formation">
                    <mat-option value="" disabled>Kérem válasszon</mat-option>
                    <mat-option *ngFor="let formation of formations" [value]="formation.value">
                        {{ formation.text }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="teamFormGroup.controls['formation'].invalid">
                    {{ getError('formation') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button routerLink="/settings/team" mat-raised-button matDialogClose>Vissza</button>
            <button color="primary" [disabled]="!teamFormGroup.valid" (click)="edit()" mat-raised-button matDialogClose>Módosítás</button>
        </div>
    </form>

</mat-card>