<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="homeTeam">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Hazai csapat </th>
      <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="fulTimeResult">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Végeredmény </th>
      <td mat-cell *matCellDef="let element"> {{element.fulTimeResult}} </td>
    </ng-container>

    <ng-container matColumnDef="awayTeam">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Vendég csapat </th>
      <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="halfTimeResult">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Félidő </th>
      <td mat-cell *matCellDef="let element"> {{element.halfTimeResult}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Információ </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above" (click)="onDetailsClick(element)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
