<div align="center">
    <mat-card>
      <div align="left">
        <button mat-raised-button color="primary" (click)="onCreate()">Új játékos</button>
        <button mat-raised-button color="secondary" (click)="getPlayers()" style="margin: 0.5%;">Frissités</button>
        <mat-form-field>
          <mat-label>Szűrő</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Játékos neve" #input>
        </mat-form-field>
      </div>
      <mat-card-title>Játékos kezelés</mat-card-title>
    </mat-card>
  
    <div align="center">
  
      <div class="container">
  
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
          <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef> Logo </th>
            <td mat-cell *matCellDef="let element">
              <img mat-card-avatar class="team-header-image" src='{{ element?.logo }}'>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
  
          <ng-container matColumnDef="nickName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Becenév </th>
            <td mat-cell *matCellDef="let element"> {{ element.nickName }} </td>
          </ng-container>
  
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kor </th>
            <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
          </ng-container>
  
          <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Születésnap </th>
            <td mat-cell *matCellDef="let element"> {{ element.birthday }} </td>
          </ng-container>
  
          <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nemzetiség </th>
            <td mat-cell *matCellDef="let element"> {{ element.nationality }} </td>
          </ng-container>
  
          <ng-container matColumnDef="currentTeam">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Csapat </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentTeam }} </td>
          </ng-container>
  
          <ng-container matColumnDef="marketValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Érték </th>
            <td mat-cell *matCellDef="let element"> {{ element.marketValue }} </td>
          </ng-container>
          
          <ng-container matColumnDef="teamPosition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pozíció </th>
            <td mat-cell *matCellDef="let element"> {{ element.teamPosition }} </td>
          </ng-container>

          <ng-container matColumnDef="teamYerseyNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mez </th>
            <td mat-cell *matCellDef="let element"> {{ element.teamYerseyNumber }} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Módosítás </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="Módosítás" matTooltipPosition="above" (click)="onEdit(element)">
                <mat-icon>settings</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Törlés </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button matTooltip="Törlés" matTooltipPosition="above" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
      </div>
    </div>
  
    
