<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Összesített tabella">
      <div class="container">
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="logo">
              <th mat-header-cell *matHeaderCellDef>Csapat </th>
              <td mat-cell *matCellDef="let element"><img mat-card-avatar class="away-header-image"
                  src='{{ element?.logo }}'></td>
            </ng-container>

            <ng-container matColumnDef="teamName">
              <th mat-header-cell *matHeaderCellDef>Név</th>
              <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
            </ng-container>

            <ng-container matColumnDef="playedGames">
              <th mat-header-cell *matHeaderCellDef> LM </th>
              <td mat-cell *matCellDef="let element"> {{element.playedGames}} </td>
            </ng-container>

            <ng-container matColumnDef="win">
              <th mat-header-cell *matHeaderCellDef> GY </th>
              <td mat-cell *matCellDef="let element"> {{element.win}} </td>
            </ng-container>

            <ng-container matColumnDef="draw">
              <th mat-header-cell *matHeaderCellDef> D </th>
              <td mat-cell *matCellDef="let element"> {{element.draw}} </td>
            </ng-container>

            <ng-container matColumnDef="defeat">
              <th mat-header-cell *matHeaderCellDef> V </th>
              <td mat-cell *matCellDef="let element"> {{element.defeat}} </td>
            </ng-container>

            <ng-container matColumnDef="point">
              <th mat-header-cell *matHeaderCellDef> P </th>
              <td mat-cell *matCellDef="let element"> {{element.point}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Információ </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Adatok" matTooltipPosition="above"
                  (click)="onStandingDetailsClick(element)">
                  <mat-icon>info</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>